---
// Ici, on peux ajouter du code, des fichiers ou des variables que l'on pouras ensuite utiliser dans l'HTML

// On importe le composant Icon de astro-icon pour pouvoir l'utiliser dans notre HTML
import { Icon } from "astro-icon/components";
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Polyx</title>
  </head>
  <body class="w-screen">
    <article class="prose prose-md mx-auto my-4 text-center">
      <h1 class="inline-flex align-baseline">
	<a href="https://github.com/PolyxUtils/Website">
        	<Icon name="skill-icons:Github-Dark" class="mr-2 align-baseline" />
	</a>
        This is comming soon !<h1></h1>
      </h1>
    </article>
  </body>
</html>
